////Déclaration des variables
$margin-t: 30px;
$img-size: 200px;
$card-param: 3px solid green;
///Mise en place des régles
img {
    width: $img-size;
    height: $img-size;
}

.card {
    padding: 15px;
    width: 50%;
    margin: $margin-t auto;
    border: $card-param;
    border-radius: 20px;
}

.card-title {
    line-height: 5;
}

.member-function {
    font-size: 1.2em;
}

.description {
    margin-top: $margin-t;
}