////Déclaration des variables
$color: cyan;
$heigth: 800px;
$width-xl: 80%;
$width-m: 60%;
$radius: 20px;
$shadows: 5px 5px 20px;
$margin-t: 40px;
$border-style-form: 3px solid green;
$border-style: 3px solid cyan;
///Mise en place des régles
.container {
    border: $border-style;
    border-radius: $radius;
    margin: $margin-t auto;
    box-shadow: $shadows;
    width: $width-xl;
    padding: 15px;
}

form {
    margin-top: $margin-t;
}

input,
textarea {
    width: $width-m;
    border: $border-style-form;
}

.btn {
    width: 20%;
}