<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../assets/avatars/{{ avatar }}" alt="{{ firstname }}" title="Photo de {{ firstname }}" class="card-img" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ firstname }} {{ lastname }}</h5>
                <button class="btn btn-success">Voir le profil</button>
            </div>
        </div>
    </div>
</div>